<main>

  <div class="row">
    
    <button class="newWord" (click)="getNewWord()">New Word</button>
    
    <mat-select [(value)]="difficulty">
      <mat-option *ngFor="let dif of difficulties" [value]="dif">{{ dif }}</mat-option>
    </mat-select>
    
    <mat-select [(value)]="language">
      <mat-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</mat-option>
    </mat-select>
  </div>
  <div class="row guessOuter">
    <div class="row guessInner">
      <button class="guessLetter" *ngFor="let guessLetter of guess; let i = index" 
      (click)="[guess[i] = '', enableButton(guessLetter)]" [disabled]="guessLetter === ''">{{ guessLetter }}</button>
    </div>
  </div>
  <div class="row wordOuter">
    <div class="row wordInner">
      <button class="wordLetter" [disabled]="disabledLetters[wordIndex]" *ngFor="let letter of scrambledWord; let wordIndex = index" 
      (click)="[addLetterToGuess(letter), disableButton(wordIndex)]">{{ letter }}</button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isGuessCorrect">You are right!</div>
  </div>
  <router-outlet></router-outlet>
</main>
